<!DOCTYPE html>
<HTML xmlns:th="https://www.thymeleaf.org">
	<TITLE>Student Form</TITLE>
	<head>
	</head>
	<body>
		<form action="#" th:action="@{/students/saveStudent}" th:object="${studentEntity}" method="POST">
		<table border="1">
			<tr>
				<td><label for="id">Id:</label></td>
				<td><input type="number" th:field="*{id}" /></td>
			</tr>
			
			<tr>
				<td><label for="id">Name:</label></td>
				<td><input type="text" th:field="*{name}" /></td>
			</tr>
			
			<tr>
				<td><label for="id">Address:</label></td>
				<td><input type="text" th:field="*{address}" /></td>
			</tr>
			
			<tr>
				<td><label for="id">Gender:</label></td>
				<td><input type="text" th:field="*{gender}" /></td>
			</tr>
			
			<tr>
				<td><input type="submit" value="Save" /></td>
			</tr>
			
		</table>
	</body>